<h1>Usage</h1>

<ol>
  <li>Click Download history -icon</li>
  <li>Pick up the downloaded file and drag it onto to the Drag here -icon</li>
  <li>Click Send -button</li>
  <li>You can now add or modify details of separate events; how many people you’ve encountered during the events etc. or remove false evente by clicking the icons next to the events.</li>
  <li>You can also add events manually by filling in the fields and clicking Save</li>
</ol>

<p>
If you have any question don't hesitate to contact us.
</p>
<p>
#contact_tracing in hackthecrisisfindland-slack<br />
<a href="mailto:anssi@aketzu.net">anssi@aketzu.net</a><br />
+358 40 5085390
</p>
