<h1>Privacy policy and things</h1>

<p>
This is intended as a demonstration website so use with common sense.
If you upload your own Google Location history data it will contain personal information.
Data will not be sent/sold to any third parties. It will only be viewed by the
project team in case of support is required.
</p>

<p>
The application is running on a private physical machine located in Espoo,
Finland. All standard access control methods are in use and basically the
machine has only one administrator who has access to the stored data.
</p>

<p>
Database will be cleared sometime after hackathlon (i.e. April 2020) and the
application will be shut down as well.
</p>

<p>
All questions and queries about the data can be directed to Anssi Kolehmainen,
anssi@aketzu.net, +358 40 5085390.
(Also in hackthecrisisfinland slack as @Aketzu)
</p>
