// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

label.asdndzone {
max-width: 200px;
min-height: 50px;
padding: 0em;
padding-top: 1em;
border: none;
}
