// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import 'bootstrap/scss/bootstrap';

main.container {
  margin-top: 75px;
  max-width: 40em;
}

label.asdndzone {
  max-width: 200px;
  min-height: 50px;
  padding: 0em;
  border: none;
}

/*
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.75);
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
  color: rgba(255, 255, 255, 1);
}

.navbar-dark .navbar-nav .nav-link.disabled {
  color: rgba(255, 255, 255, 0.25);
}

.langbar a, .langbar a:visited {
  color: rgba(255,255,255,0.5);
}

.langbar a:hover {
  color: rgba(255,255,255,0.75);
}
*/

.navbar {
  background-color: #00aaee !important;
}
.navbar a {
  color: black !important;
}
.navbar-nav .active a {
  color: white !important;
}

.navbar-brand {
  background-image: asset-url("whitelogo_trans_rbg-95x.png") !important;
  background-position-y: 00% !important;
  background-repeat: no-repeat !important;
  font-size: 12pt !important;
  margin-top: 5px; 
  padding-top: 20px;
  padding-right: 5em;
}

@include media-breakpoint-up(sm) {
  .colbox-r {
    flex-direction: column !important;
    align-items: flex-end !important;
    padding: 0px;
    line-height: 0.5;
  }
  .colbox-r .colrow {
    display: flex;
    flex-wrap: wrap;
  }
  .colbox-r .colrow .navbar-nav {
    margin-left: auto;
  }
  .colbox-r .dropdown-menu {
    line-height: 1.5;
  }
}


// Prevent datepicker from being covered by the navbar.
.simplepicker-wrapper {
  top: 24px;
}

#asdndz-gloc_uploads {
  /* border: 5px #8fd6ff solid; */
  border: 5px #c7ebff dashed;
  padding: 10px;
  border-radius: 1em;
  font-size: 21px;
  /* width: 170px; */
  /* margin-left: 50px; */
}

#col-left {
}

#col-right {
  margin-left: 50px;
  /* width: 280px; */
}

#gloc_uploads {
  height: 0 !important;
  display: none;
}

@media screen and (min-width: 701px) and (max-width: 3000px) {
    #deskari {
        // display: block;
    }

    #mobilescreen {
        // display: none;
    }
}

// TODO: might be better with @include media-breakpoint-down(xl) {}
@media screen and (min-width: 0px) and (max-width: 700px) {
    #gmaps-data {
        display: none;
    }

    // use col-3
    #time-col, #all-day-col {
        flex: 0 0 25%;
        max-width: 25%;
    }

    // use col-5
        // flex: 0 0 41.6666666667%;
        // max-width: 41.6666666667%;

    // use col-6
    #day-col, #no-people-col, #submit-col {
        flex: 0 0 50%;
        max-width: 50%;
    }

    #deskari {
        // display: none;
    }

    #mobilescreen {
        // display: block;
    }
}


.translation_missing {
  border: 1px dashed red;
}
