// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

main.container {
  margin-top: 60px;
  max-width: 40em;

}

label.asdndzone {
  max-width: 200px;
  min-height: 50px;
  padding: 0em;
  border: none;
}

h2 {
  font-size: 140%;
  font-weight: bold;
  padding-top: 0.5em;
}

a svg {
  color: black;
}

.help-blob {
  display: none;
  position: absolute;
  left: 10px;
  top: 80px;
  width: 20%;
  height: 30em;
}
@import 'bootstrap/scss/bootstrap';
@include media-breakpoint-up(xl) {
  .help-blob {
    display: block;
  }
}

.langbar {
  position: fixed !important;
  right: 16px !important;
  top: 16px !important;
  z-index: 9000;
  color: #fff;
}

.langbar a, .langbar a:visited {
  color: rgba(255,255,255,0.5);
}

.langbar a:hover {
  color: rgba(255,255,255,0.75);
}

.flag {
  display:block !important;
  height: 40px !important;
  padding-left: 10px !important;
  margin-bottom: 10px !important;
}
.flag-active {
  padding-left: 0px !important;
  height: 50px !important;
}

.navbar {
  background-color: #369 !important;
}

.navbar-brand {
  background-image: asset-url("logo-white-95x.png") !important;
  background-position-y: 50% !important;
  background-repeat: no-repeat !important;
  font-size: 0 !important;
  width: 95px !important;
  height: 30px !important;
}

#asdndz-gloc_uploads {
  /* border: 5px #8fd6ff solid; */
  border: 5px #c7ebff dashed;
  padding: 10px;
  border-radius: 1em;
  font-size: 21px;
  /* width: 170px; */
  /* margin-left: 50px; */
}

#col-left {
}

#col-right {
  margin-left: 50px;
  /* width: 280px; */
}

#gloc_uploads {
  height: 0 !important;
  display: none;
}

@media screen and (min-width: 701px) and (max-width: 3000px) {
    #deskari {
        // display: block;
    }

    #mobilescreen {
        // display: none;
    }
}

@media screen and (min-width: 0px) and (max-width: 700px) {
    #gmaps-data {
        display: none;
    }

    // use col-3
    #time-col, #all-day-col {
        flex: 0 0 25%;
        max-width: 25%;
    }

    // use col-5
        // flex: 0 0 41.6666666667%;
        // max-width: 41.6666666667%;

    // use col-6
    #day-col, #no-people-col, #submit-col {
        flex: 0 0 50%;
        max-width: 50%;
    }

    #deskari {
        // display: none;
    }

    #mobilescreen {
        // display: block;
    }
}

