.placeicon {
  font-size: 30pt;
  margin-right: 0.5em;
}

.placeicon-selected {

  color: #00aaee;
  font-size: 40pt;
  border-bottom: 6px solid #00aaee;
  padding-bottom: 3px;
  border-radius: 5px;

}
